.footerContainer{
    display: flex;
    justify-content: center;
}

.footerMain{
    display: flex;
    gap: 40px;
    margin-top: 20px;
    padding-bottom: 60px;
}

.footerCol{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
}

.footerCol>a{
    color: #0071c2;
    text-decoration: none;
    font-size: 14px;
}

.footerCol>a:hover{
    color: #bc5b01;
}

.copyright{
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin: 10px;
}